---
layout: page
title: Exoplanet Imaging Data Challenge
subtitle: Community-wide data challenge to benchmark and compare the high-contrast imaging post-processing algorithms to detect and characterize exoplanets
use-site-title: false
---

<br />


<p align="center"><strong>The second phase of the challenge, focused on characterisation of exoplanets, is on-going !<strong></p>
<p align="center"><i>The caracterisation phase datasets are hosted on <a href="https://zenodo.org/record/3361544">Zenodo</a></i></p>
<p align="center"><i>The caracterisation phase challenge is hosted on <a href="https://competitions.codalab.org/competitions/20693">EvalAI</a></i></p>

<p> Welcome to The Exoplanet Imaging Data Challenge, which aims at benchmarking and comparing post-processing techniques to detect and characterize exoplanets within ground-based high-contrast images. 
The challenge is organized in collaboration with several members of the high-contrast imaging community</p>

<p> Direct imagin of planetary systems is a major step towards understanding the demographics, the evolution and formation of extrasolar planets. 
Observing exoplanets using the largest ground-based telescopes is a very challenging task! The main difficulties are (i) the huge difference in brightness between the host star and its potential companions, which are millions of times fainter, and (ii) the small angular separation between them, which are less than a few hundreds milli-arcseconds. 
Astronomers need the largest optical telescopes to adress this challenge. But, on Earth, these difficulties are amplified by the image degradation caused by the Earth's turbulent atmosphere and the imperfect optics in the instrument. Therefore, ground-based high-contrast imaging (HCI) relies on the use of adaptive optics, which corrects in real time for the atmosphere turbulence by using a deformable mirror, and coronagraphy, which suppresses most of the light coming from the host star.  </p>

<p> Even using these cutting-edge technologies, the resulting images suffer from bright starlight residuals hiding the presence of planetary companions. Among them, the quasi-statics *speckles* are of the same size as the exoplanet signal and often brighter by two orders of magnitude. 
Therefore, the two remaining components of high-contrast imaging are (1) the data acquisition techniques, which focuses on introducing some diversity in the data to later disentangle between the planetary companions and the speckle field and (2) the post-processing techniques that exploit this diversity to carve out further the starlight residuals and recover the planetary signals. 
**Post-processing techniques is what ultimately pushes the performance of the HCI instruments.** </p>

<p><i> You don't need to be an astronomer nor an expert in high-contrast imaging to participate! We welcome the participation of non-domain experts. On this website you will find extensive documentation about the challenge and how to participate, with tool kits to get started. </i></p>

<p> In this challenge, we exclusively rely on open source tools for conducting this competition: all the datasets are available throughout and after the competition, as well as the results of the challenge and metrics used for publications. 
</p>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
