---
layout: page
title: Exoplanet Imaging Data Challenge
subtitle: Community-wide data challenge for the comparison of high-contrast imaging post-processing techniques
use-site-title: false
---

<br />

<p align="center"><strong>The second phase of the challenge, focused on characterisation of exoplanets, is on-going (see dedicated <a href="https://exoplanet-imaging-challenge.github.io/context2/">tab</a> above) !</strong></p>
<p align="center"><strong> <span style="color:red">DEADLINE EXTENDED TO 15/04/2024 - 23h59 CEST !</span></strong></p>
<p align="center"><i>The characterisation phase datasets are hosted on <a href="https://zenodo.org/record/6902628">Zenodo</a></i></p>
<p align="center"><i>The characterisation phase challenge is hosted on <a href="https://eval.ai/web/challenges/challenge-page/1717">EvalAI</a></i></p>

&nbsp  

<p style='text-align: justify;'> Welcome to the <i>Exoplanet Imaging Data Challenge</i>, which aims at benchmarking and comparing post-processing techniques applied to high-contrast images. 
This challenge is organized collaboratively by several members of the astronomical high-contrast imaging community. </p>

&nbsp  

<p style='text-align: justify;'>Direct imaging of planetary systems is a major step towards studying the demographics of extrasolar planets, as well as understanding the process of formation and evolution of planetary systems. Direct imaging aims at young distant gaseous planets and allows to capture the light emitted by the planet towards analysing its atmosphere properties. 
However, these objects are very faint and observing exoplanets is a very challenging task. The main difficulties are: (i) the huge difference in brightness between the host star and its planets, which more than millions of times fainter, and (ii) the very small angular separation between them, which are less than a few hundreds milli-arcseconds. </p>

<p style='text-align: justify;'>As a consequence, astronomers need the <em>largest telescopes</em> to adress this challenge, such as ground-based 8-m class telescope, offering both a good sensitivity and spatial resolution. But, the theoretical spatial resolution of the telescope is hindered by the optical turbulence of the Earth atmosphere. 
The use of an <em>adaptive optic</em> system (that corrects in real time for the atmosphere turbulence via a deformable mirror) is necessary to reach an angular resolution allowing to probe the inner regions surrounding a star. 
As a second step, one may use a <em>coronagraph</em> device (an optical component that suppresses most of the light coming from the host star) to reach a contrast allowing to detect the planet signal that is million times fainter than the starlight.  </p>

<p style='text-align: justify;'> Even using these cutting-edge technologies, the resulting images suffer from bright starlight residuals hiding the presence of planetary companions. 
Among them, the <i>quasi-statics speckles</i> are of the same size and shape as the exoplanet signal and often brighter by up to two orders of magnitude. 
A necessary last step is to apply <em>tailored image processing techniques</em> to the dataset, which further carve out the residual starlight and unveil the faint circumstellar signals (disks and/or planets). 
The image below highlights the "four pillars" of high-contrast imaging needed to detect Jupiter-sized exoplanets located at large distances (a few tenth of astronomical units) from their host star.</p>

&nbsp  

<img src="/img/PillarsHCI.png" alt="The four pillars of HCI">
<small><center><i>The images above were acquired with the SPHERE-IRDIS instrument installed at the Very Large Telescope (ESO, Chile). 
This instrument, dedicated to high-contrast imaging, is equipped with an extreme adaptive optics system (SAXO) and an apodized Lyot coronagraph (APLC). 
The post-processed image shown is the STIM-map of the planetary system HR 8799.</i></center></small>

<br>
	
<center><strong>Post-processing techniques is what ultimately pushes the performance of high-contrast imaging instruments.</strong></center>

<div class="box-note">Participants do not need to be neither a professional astronomer nor an expert in high-contrast imaging techniques to participate! We warmly encourage the participation of non-domain experts. On this website you will find extensive documentation about the challenge and how to participate, with tool kits to get started. </div>
<!-- Under the bibliography Tab, we also posted some 101  videos to describe HCI (3min videos)-->

<p style='text-align: justify;'> Computer science and artificial intelligence fields have a long tradition conducting data challenges and methods competitions. We aim to integrate these practices to the field of high-contrast imaging in astronomy. 
The <i>Exoplanet Imaging Data Challenge</i> intends to make the process of testing new algorithms more straightforward and robust, via the use of standard metrics and benchmark (curated) data set offered to the community with this challenge.  </p>

<div class="box-note">The goal of the <i>Exoplanet Imaging Data Challenge</i> is not only to compare, in a fair and robust way, existing post-processing techniques, but also to spur the design of new techniques, spark new collaborations and ideas, and share knowledge.</div>


<p style='text-align: justify;'> In the future, it is planned to regularly launch several phases of the <i>Exoplanet Imaging Data Challenge</i>, and make it evolve to include more features. 
Next steps will notably include the detection of circumstellar disks, the use of high resolving power spectroscopic data, the use of large data base and multi-epoch, and simulated images for the Extremely Large Telescope suites of instrument.</p> 

<p style='text-align: justify;'> The EIDC team plans to publish its work and various results every two years, under the form of an SPIE *Astronomical Telescope + Instrumentation* proceeding that will be made available on arXiv (see Results tabs).</p> 

<div class="box-note"> The data from the various phases of the EIDC are available permanently on the Zenodo repository: anyone is welcome to test their algorithm(s) on these data set and analyse its results using the metric and comparison tools from the corresponding EIDC publication.</div>

<!--<h3> How to acknowledge the EIDC team </h3>-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2020.css">
<div class="w3-panel w3-2020-grape-compote w3-round-large w3-border">
  <h4><strong>How to acknowledge the EIDC initiative</strong></h4>
  <p> If you use ressources from the 'Exoplanet Imaging Data Challenge' for a scientific publication, we kindly ask you to add the following sentence in the ackowledgements:
  <br>
  <i>"This work has made use of the Exoplanet Imaging Data Challenge, collaboratively managed and maintained by members of the high-contrast imaging community, mainly led at IPAG/CNRS/UGA (Grenoble, France) and PSILab/STAR institute/ULiège (Liège, Belgium)." </i></p>
</div>

<!-- <p>In the spirit of openness, we exclusively rely on open source tools for conducting this competition: all the contributed datasets (nineteen in total from 5 different instruments) will be released at the end of the competition as well as the results of the challenge. Finally, this challenge is open to anyone who is interested in participating!</p> -->

<!-- <p> In the spirit of openness, we exclusively rely on open source tools for conducting this competition: this website is hosted on <a href="https://github.com/exoplanet-imaging-challenge/exoplanet-imaging-challenge.github.io">GitHub</a>,
the implementations of the metrics and backend algorithms (Python code) are stored in the <a href="https://github.com/carlgogo/exoimaging_challenge_extras">exoimaging extras repository</a>, and Codalab, a framework for accelerating reproducible computational research, was selected to host the competition. Moreover, our plan is to release all the contributed datasets (nineteen in total from 5 different instruments) at the end of the competition as well as the results of the challenge. Finally, this challenge is open to anyone who is interested in participating!</p>

<p> For information about the data challenge explore the "description" pull-down menu on the top of the page: <a href="https://exoplanet-imaging-challenge.github.io/context">objectives</a> section motivates the realization of this challenge, <a href=https://exoplanet-imaging-challenge.github.io/subchallenges>sub-challenges</a> presents two separate challenges that will be running in parallel, <a href=https://exoplanet-imaging-challenge.github.io/datasets>datasets</a> section describes the data formats for each sub-challenge, <a href=https://exoplanet-imaging-challenge.github.io/submission>submissions</a> details the formats and contents of each participants' submission, and finally in the <a href=https://exoplanet-imaging-challenge.github.io/metrics>metrics</a> section describes the metrics used in this competition and the service/framework used to host the scoreboards. </p> -->


<!-- <div class="posts-list">
  <h1>What's new:</h1>

  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h5 class="post-title">{{ post.title }}</h5>
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div> -->

<!--    {% if post.tags.size > 0 %}-->
<!--    <div class="blog-tags">-->
<!--      Tags:-->
<!--      {% if site.link-tags %}-->
<!--      {% for tag in post.tags %}-->
<!--      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>-->
<!--      {% endfor %}-->
<!--      {% else %}-->
<!--        {{ post.tags | join: ", " }}-->
<!--      {% endif %}-->
<!--    </div>-->
<!--    {% endif %}-->

   <!-- </article>
  {% endfor %}
</div> -->

<!-- {% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %} -->
