---
layout: base
---

<br />
<br />
<br />

{% include header.html type="page" %}
<p align="center">
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-17 col-lg-offset-14 col-md-20 col-md-offset-10">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
        <div class="justcomments-comments">
          {% include just_comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
</p>
